includes:
    - vendor/phpstan/phpstan-phpunit/extension.neon
    - vendor/phpstan/phpstan-phpunit/rules.neon
    - vendor/jangregor/phpstan-prophecy/src/extension.neon
parameters:
    inferPrivatePropertyTypeFromConstructor: true
    tipsOfTheDay: false
